{#<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">#}
{#<html lang="en">#}
{#<head>#}
{#    <title>Task: {{ task.title }} | To-do list</title>#}
{#    <link rel="stylesheet" href="default.css" type="text/css">#}
{#</head>#}
{#<body>#}
{#    <h1 id="top">{{ task.title }}</h1>#}
{#    <p>{{ task.description }}</p>#}
{#    <hr>#}
{#    <p><a href="#top">Back to top</a>.</p>#}
{#</body>#}
{#</html>#}
{% extends 'project/base.html' %}
{% block title %}Task: {{ task.title }} | To-do list{% endblock %}


{% block headline %}dsadsasa{% endblock %}

{% block content %}<p>{{ task.description }}</p>{% endblock %}